body {
	margin: 0 auto;
}
h1 {
	text-align: center;
}
#carousel {
	margin: 0 auto;
	border: 2px solid #000;
	list-style-type: none;
	display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 400px;
    height: 400px;
}
#carousel img {
	width: 400px;
    height: 400px;
}

ul {
	padding: 0;
}